.modal-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px;
  gap: 8px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.buttons>a{
  display: block;
  flex-grow: 1;
}

.modal-sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 8px;
  padding: 8px;

  text-wrap: nowrap;
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-body {
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  padding: 16px;

  outline: none;

  /* // width height  고정 */
  width: 90%;
  height: 30vh;

  resize: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 32px;
}

.modal-header p, .modal-sub-header>p, .modal-footer{
  font-weight: bold;
  font-size: 0.9rem;
}