.mini-grid {
    display: grid;
    grid-template:
        '... ... ... ... ... ... ...' 1fr
        '... img ... name ... dot ...' 50px
        '... ... ... ... ... ... ...' 1fr / 20px 50px 15px 200px 1fr 40px 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}

.mini-img {
    grid-area: img;
}

.mini-name {
    grid-area: name;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mini-menu {
    grid-area: dot;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-menu>a {
    display: flex;
    justify-content: center;
    align-items: center;
}