.container {
  display: grid;
  grid-template: 
  'title ... drop' 30px
  '... ... ...' 30px
  'table table table' 1fr / auto 1fr 3fr;
}

.container>h2{
  grid-area: title;
}

.container>div:nth-of-type(1){
  grid-area: drop;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template: 
  'inp1 inp2 btn' auto / 1fr 1fr auto;
  gap: 5px;
}



.table-pagination-container {
  grid-area: table;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-top: 20px;
}

