.teamMatching-grid{
    display: grid;
    grid-template:
    '... ... ... drop ...' 50px
    '... ... ... ... ...' 20px
    '... items items items ...' 1fr
    '... ... ... ... ...' 50px
    '... ... btn ... ...' 20px / 1fr 330px 1fr 330px 1fr ; 
    min-width: 700px;
    padding: 50px;
    background-color: #F1F1F1;
    border: 1px solid #A0A0A0;
    border-radius: 20px;
    min-width: 700px;
}

.teamMatching-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: items;
    min-width: 600px;
}

