.menudropgrid{
    display: grid;
    grid-template: 
    '... ... ... ... ...' 20px
    '... close close ... ...' 20px
    '... ... ... ... ...' 70px
    '... ... title ... ...' 100px
    'menu menu menu menu menu' 280px
    '... ... ... ... ...' 1fr
    '... login ... ... ...'20px
    '... ... ... ... ...'30px / 1fr 80px 200px 50px 1fr;
    color: #ffffff;
    background-color: #424242;
    text-align: center;
    width: 400px;
    padding: 20px;
    z-index: 100;  /* z-index  설정 */
    position: fixed; /* 화면에 고정 */
    top: 0; /* 화면 상단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    height: 100%;
    max-height: 100vh;
    box-shadow: 1px 1px 4px #222222;

}

.title{
    grid-area: title;
}

.menus{
    grid-area: menu;
    display: flex;
    flex-direction: column;
}

.menus>a>li{
    padding: 20px;
}

.close{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: close;
}

a{
    grid-area: login;
    color: white;
}
