.reservation-detail-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reservation-detail-subtitle {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.reservation-detail-text {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
}