.grid-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px; /* 셀 간격 */
  background-color: #b9b9b9; /* 선 색상 */
  width: 100%;
  border: #b9b9b9 solid 1px;
}

.grid-row {
  display: contents; /* 행을 분리하지 않고 셀을 묶음 */
}

.grid-cell {
  font-size: 12px;
  padding: 12px;
  background-color: white;
  text-align: left;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.header {
  font-weight: bold;
  background-color: #e9e9e9;
}
