.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }

  .upload-box {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
  }

  .upload-box p {
    text-align: center;
    color: #aaa;
  }

  .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
