.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #07550C;
  /* 피플 Default 색상입니다 */
  width: 100px;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  height: 80px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}

.sidebarItem.active {
  background-color: #42a946;
  border-radius: 10px;
}

.sidebarIcon {
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.sidebarText {
  font-size: 14px;
  line-height: 1.2;
  word-break: break-word;
  text-align: center;
}

@media (max-width: 760px) {
  .sidebar {
    position: relative;
    flex-direction: row;
    /* 가로 배치 */
    width: 100%;
    /* 전체 너비 */
    height: auto;
    /* 높이 자동 조정 */
    padding: 10px 0;
    /* 위아래 여백 */
    border-radius: 0;
    /* 경계선 제거 */
  }

  .sidebarItem {
    justify-content: flex-start;
    /* 왼쪽 정렬 */
    height: 60px;
    /* 높이 조정 */
    margin-bottom: 0;
    /* 하단 여백 제거 */
    padding: 0 10px;
    /* 내부 여백 추가 */
  }

  .sidebarIcon {
    margin-bottom: 0;
    /* 아래 여백 제거 */
    margin-right: 10px;
    /* 오른쪽 여백 추가 */
  }

  .sidebarText {
    font-size: 12px;
    /* 텍스트 크기 조정 */
  }
}