.sidebar {
    display: grid;
    height: 100%;
    border-right: 1px solid #efefef;
    grid-template:
    "... ... ..." 1fr
    "... sidetop ..." 90px
    "... ... ..." 0.3fr
    "... sidemid ..." 240px
    "... ... ..." 1fr
    "... sidebottom ..." 50px
    "... ... ..." 1fr / 10px 240px 10px;
    ;
}


.sidetop {
    grid-area: sidetop;
    display: flex;
    gap: 1rem;
    border: 1px solid #efefef;
    border-radius: 15%;
}


.sidemid{
    grid-area: sidemid;
}

.sidebottom{
    grid-area: sidebottom;
}


.username {
    font-size: 1rem;
    font-weight: bold;
}
.useremail {
    font-size: 0.75rem;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}
li:hover {
    background-color: #f0f0f0;

}

a {
    text-decoration: none;
    font-size: 0.875rem;
    color: #333;
}
.topimg {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.botimg {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.logout {
    padding: 1rem;
    color: red;
    cursor: pointer;
}
